<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<nav>
    <div class="container">
        <div class="brand"> DAILY JOURNAL</div>
        <form action="/" method="get"><button type="submit">home</button></form>
        <form action="/about" method="get"><button type="submit">about</button></form>
        <form action="/contact" method="get"><button type="submit">contacts</button></form>
        <form action="/compose" method="get"><button type="submit">compose</button></form>
    </div>
</nav>

<body>
    <div class="container"></div>